doctype html
html
	head
		script(src="https://code.jquery.com/jquery-2.2.0.min.js")
	body
		h2 Search Users
			div
				form(action='/search',method='post')
					div(data-role='fieldcontain')
						fieldset(data-role='controlgroup')
							label(for='name') Name: 
								input(id='name',type='text',value='',placeholder='',name='name')
					div(data-role='fieldcontain')   
						input(type='submit',value='Search',data-transition='fade', data-theme='c')