doctype html
html
	head
		script(src="https://code.jquery.com/jquery-2.2.0.min.js")
	body
		a(href='/new') Create a new user 
		br
		a(href='/search') Search through our extensive user list
		h2 User List
		each user in users
			p= user.firstname
			p= user.lastname
			p= user.email